body{
  background-image: url("../imgs/imagen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "arial";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-InicioSesion{
  width: 440px;
  height: 440px;
  background: #fa3757;
  margin: auto;
  margin-top: 110px;
  padding: 20px 30px;
  box-shadow: 0.5px 0.5px 10px #000;
}

.form-InicioSesion h1{
  text-align: center;
  height: 35px;
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 35px;
}
.form-InicioSesion h2{
  text-align: center;
  height: 35px;
  font-size: 30px;
  margin-bottom: 15px;
}
.controls{
  width: 100%;
  border: 2px solid #000;
  margin-bottom: 41px;
  padding: 12px 12px;
  font-size: 22px;
}

.buttons{
  width: 40%;
  padding: 12px 12px;
  background:#74B72E;
  border: 2px solid #000;
  box-shadow: 3px 3px 4px #000;
  margin-bottom: 12px;
  margin-right: 50px;
  margin-left: 200px;
}

.form-InicioSesion p{
  text-align: right;
}

.form-InicioSesion a{
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-style: oblique;
}

.form-InicioSesion a:hover{
  text-decoration: underline;
}
