/* General */
section {
    padding: 60px 0;
    overflow: hidden;
}
textarea {
  resize: none;
}
#login a {  
  text-decoration: none;
}
.txt-white{
    color: white;
}
.txt-white:hover{
  color: white;
}
.text-hero{
  color: rgb(219, 215, 215);
  background-color: rgba(117, 117, 117, 0.6); 
  border-radius: 10px;
  width: 40%;
  padding: 1.5%;
}
.text-hero h2{
  color: rgb(255, 255, 255) !important; 
}

/* Navbar */
.navbar{
  -webkit-box-shadow: 0 8px 6px -10px black;
  -moz-box-shadow: 0 8px 6px -10px black;
       box-shadow: 0 8px 6px -10px black;
}
.navbar .navbar-brand{
    font-family: "Poppins", sans-serif;
    color: #2c4964;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
}
/* CSS del Hero 2 */
#hero {
    width: 100%;
    height: 90vh;
    background: url("../imgs/cafe1.jpg") center;
    background-size: cover;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
  }

  #hero .container {
    position: relative;
  }

  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 0px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
  }

#hero .container:hover 
{
  transform: scale(1.02);
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}
/* Footer */
.myfooter{
  padding: 60px 0 30px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  box-shadow:  30px 30px 59px #5c5c5c,
             -30px -30px 59px #ffffff;
}
.myfooter{
  color: black !important;
}